$size_mobile: 576px;
$size_tablet: 767px;
$size_desktop: 1023px;
$size_desktop_fhd: 1240px;

$media_queries: (
  mobile: only screen and
    (
      min-width: 374px
    ),
  tablet: only screen and
    (
      min-width: 767px
    ),
  desktop: only screen and
    (
      min-width: 1024px
    ),
  desktop-lg: only screen and
    (
      min-width: 1240px
    )
);

@mixin breakpoint($breakpoints) {
  $conditions: ();
  @each $bp in $breakpoints {
    $conditions: append(
      $conditions,
      #{inspect(map-get($media_queries, $bp))},
      comma
    );
  }

  @media #{$conditions} {
    @content;
  }
}
