<template>
   <div class="container">
      <div class="row align-items-end d-flex justify-content-around">
        <VueSlickCarousel v-bind="services" style="overflow: hidden">

        
        <div
          class="col-6 col-md-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/images/website/illust-ecommerce-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Ecommerce
          </h5>
          <p class="text-center">Sell and promote your product<br />on your own website</p>
        </div>
        <div
          class="col-6 col-md-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/images/website/illust-profile-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Company Profile
          </h5>
          <p class="text-center">Introduction about products,<br /> services using web technology</p>
        </div>
        <div
          class="col-6 col-md-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/images/website/illust-webapps-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Web Apps
          </h5>
          <p class="text-center">Application software that runs<br /> on a web server</p>
        </div>
        </VueSlickCarousel>
      </div>
    </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import "vue-slick-carousel/dist/vue-slick-carousel.css";

export default {
    name: "SliderWebService",
    data: () => ({
          services: {
      centerMode: false,
      focusOnSelect: false,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      speed: 500,
      autoplay: true,
      dots: true,
      draggable: false,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          },
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            initialSlide: 2,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: false,
            focusOnSelect: true,
            draggable: true,
            pauseOnHover: false,
            speed: 500,
          },
        },
      ],
    }
    }),
    components: {
        VueSlickCarousel
    }
}
</script>