<template>
  <div class="container">
   
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="box" data-aos="fade-down" data-aos-duration="250">
          <div class="clip-number">
            1
          </div>
          <h5 class="title">Select Website Specification</h5>
          <p>Choose the website specifications that match the price and needs you want.</p>
        </div>
        <div class="box" data-aos="fade-down" data-aos-duration="500">
          <div class="clip-number">
            2
          </div>
          <h5 class="title">Place an Order</h5>
          <p>Order the website that has been selected, by following the steps
          existing and contact Unipics on the form provided.</p>
        </div>
        <div class="box" data-aos="fade-down" data-aos-duration="750">
          <div class="clip-number">
            3
          </div>
          <h5 class="title">Confirmation & Activation</h5>
          <p>Unipics Customer Services Team will process your order
          within a maximum of 24 hours for the website consultation that will be created.</p>
        </div>
        <div class="box" data-aos="fade-down" data-aos-duration="1000">
          <div class="clip-number">
            4
          </div>
          <h5 class="title">Website Ready</h5>
          <p>Congratulations, your website is active! , all website maintenance is covered
          by our team.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 align-self-center d-none d-md-block">
        <div class="img-box" data-aos="fade-left" data-aos-duration="500">
          <img src="@/assets/images/website/right_step_illust.svg" alt="Unipics Web Services" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "StepWebsite"
};
</script>

<style lang="scss" scoped>
html {
  box-sizing: border-box;
}

.box {
  position: relative;
  background-color: mediumslateblue;
  height: auto;
  max-height: 150px;
  width: auto;
  margin: 25px 0;
  border-radius: 8px;
  background: #FFFFFF;
  border: 2px solid rgba(6, 91, 145, 0.55);
  box-shadow: 2px 4px 12px rgba(6, 91, 145, 0.55);
  border-radius: 8px;
  padding: 15px 10px 10px 25px;
}

.box > .title {
  font-family: "Lato";
  color: #333333;
  font-weight: 800;

}

.box > .text-content {
  columns: #555555;
}

.box > .clip-number {
  position: absolute;
  left: 90%; 
  bottom: 80%;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 800;
  padding: 5px 0px 10px 11px;
  width: 36px;
  height: 36px;
  background: #065c9196;
  color: #FFF;
}

.mt-step {
  margin: 125px auto;
}

.mt-step > .row {
  margin-top: 50px;
}

.img-box > img {
  width: 100%;
  height: 100%;
  max-height: 580px;
}
</style>
