<template>
   <div class="mt-team">
    <div class="bg-our-team"></div>
    <div class="container mt-our-team ">
      <div class="row">
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava1.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Yundy Eko Priatama</h5>
            <h6 class="team-pos">CEO & Founder</h6>
          </div>
        </div>
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava2.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Harish Setyo Hudnanto</h5>
            <h6 class="team-pos">Project Manager</h6>
          </div>
        </div>
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava3.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Ihsan</h5>
            <h6 class="team-pos">UI/UX Designer</h6>
          </div>
        </div>
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava3.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Taufik</h5>
            <h6 class="team-pos">Front End Developer</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava4.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Indra</h5>
            <h6 class="team-pos">Front End Developer</h6>
          </div>
        </div>
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava5.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Anggi</h5>
            <h6 class="team-pos">Back End Developer</h6>
          </div>
        </div>
        <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava6.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Rosa</h5>
            <h6 class="team-pos">Back End Developer</h6>
          </div>
        </div>
          <div
          class="col-6 col-sm-3 col-md-3"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/images/culture/ava/ava6.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Fita</h5>
            <h6 class="team-pos">HRD</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>