<style lang="scss" scoped>
.card-price {
  padding-left: 10px;
  padding-right: 10px;
  /* position: relative !important; */
}

.card {
  border-radius: 0px !important;
  border: 0px !important;
}

.bg-price {
  background: linear-gradient(90deg, #35aaf4 0%, #065b91 146%);
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  box-shadow: -4px 4px 4px rgba(51, 51, 51, 0.25),
    4px 0px 4px rgba(51, 51, 51, 0.25);

  .text-price1 {
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: bold;
  }
}

.card-body-price {
  background-color: #fff;
  box-shadow: -4px 4px 4px rgba(51, 51, 51, 0.25),
    4px 0px 4px rgba(51, 51, 51, 0.25);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(-10px);
  z-index: 3;

  h5 {
    padding: 5px 0px;
  }
}

.text-disable {
  color: #b3b3b3;
  text-decoration: line-through;
  margin-left: -3px;
}

.svg-disable {
  stroke: #a3a3a3;
}

.text-price2 {
  color: #555555;
}

.mt-text-price2 {
  margin-top: 25px;
}

.text-item-price {
  margin-left: 15px;

  @include breakpoint(dekstop-lg) {
    font-size: 20px;
  }

  @include breakpoint(desktop) {
    font-size: 15px;
  }
}

.price-tag {
  color: #065b91;
  margin-bottom: 30px;
  font-weight: 700;

  .tag-number {
    font-size: 64px;
    font-weight: 900;
    padding: 0;
  }
}

.text-right {
  text-align: right;
}

.btn-order {
  width: 300px;
  height: 50px;
  background: linear-gradient(270.03deg, #065b91 -38.5%, #35aaf4 99.97%);
  border-radius: 30px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  color: #ffffff;
  margin-bottom: 25px;
  /* align-self: 
  ; */

  &:hover {
    scale: 1.015;
  }
}
</style>
<template>
  <div id="">
    <!-- <div class="container"> -->
    <div class="row">
      <VueSlickCarousel v-bind="price" style="overflow: hidden">
        <div
          class="col mb-3"
          data-aos="zoom-out-right"
          data-aos-duration="1500"
        >
          <div class="card card-price">
            <div class="bg-price">
              <h4 class="text-price1">Simple</h4>
            </div>
            <div class="card-body card-body-price">
              <div class="row price-tag">
                <div class="col align-self-start text-right">
                  <span>Rp.</span>
                </div>
                <div class="col tag-number">2,5</div>
                <div class="col align-self-end"><span>Juta</span></div>
              </div>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">2 Logo Concept</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">3 Times Revision (2 x 24)</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Design Copyright</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Master File</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">7 Days Process</span>
              </h5>
              <h5 class="text-disable">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 17.5L15 15L12.5 17.5ZM15 15L17.5 12.5L15 15ZM15 15L12.5 12.5L15 15ZM15 15L17.5 17.5L15 15ZM26.25 15C26.25 16.4774 25.959 17.9403 25.3936 19.3052C24.8283 20.6701 23.9996 21.9103 22.955 22.955C21.9103 23.9996 20.6701 24.8283 19.3052 25.3936C17.9403 25.959 16.4774 26.25 15 26.25C13.5226 26.25 12.0597 25.959 10.6948 25.3936C9.3299 24.8283 8.08971 23.9996 7.04505 22.955C6.00039 21.9103 5.17172 20.6701 4.60636 19.3052C4.04099 17.9403 3.75 16.4774 3.75 15C3.75 12.0163 4.93526 9.15483 7.04505 7.04505C9.15483 4.93526 12.0163 3.75 15 3.75C17.9837 3.75 20.8452 4.93526 22.955 7.04505C25.0647 9.15483 26.25 12.0163 26.25 15Z"
                    stroke="#BBBBBB"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Namecard Design</span>
              </h5>
              <h5 class="text-disable">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 17.5L15 15L12.5 17.5ZM15 15L17.5 12.5L15 15ZM15 15L12.5 12.5L15 15ZM15 15L17.5 17.5L15 15ZM26.25 15C26.25 16.4774 25.959 17.9403 25.3936 19.3052C24.8283 20.6701 23.9996 21.9103 22.955 22.955C21.9103 23.9996 20.6701 24.8283 19.3052 25.3936C17.9403 25.959 16.4774 26.25 15 26.25C13.5226 26.25 12.0597 25.959 10.6948 25.3936C9.3299 24.8283 8.08971 23.9996 7.04505 22.955C6.00039 21.9103 5.17172 20.6701 4.60636 19.3052C4.04099 17.9403 3.75 16.4774 3.75 15C3.75 12.0163 4.93526 9.15483 7.04505 7.04505C9.15483 4.93526 12.0163 3.75 15 3.75C17.9837 3.75 20.8452 4.93526 22.955 7.04505C25.0647 9.15483 26.25 12.0163 26.25 15Z"
                    stroke="#BBBBBB"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Banner Design</span>
              </h5>
              <h5 class="text-disable">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 17.5L15 15L12.5 17.5ZM15 15L17.5 12.5L15 15ZM15 15L12.5 12.5L15 15ZM15 15L17.5 17.5L15 15ZM26.25 15C26.25 16.4774 25.959 17.9403 25.3936 19.3052C24.8283 20.6701 23.9996 21.9103 22.955 22.955C21.9103 23.9996 20.6701 24.8283 19.3052 25.3936C17.9403 25.959 16.4774 26.25 15 26.25C13.5226 26.25 12.0597 25.959 10.6948 25.3936C9.3299 24.8283 8.08971 23.9996 7.04505 22.955C6.00039 21.9103 5.17172 20.6701 4.60636 19.3052C4.04099 17.9403 3.75 16.4774 3.75 15C3.75 12.0163 4.93526 9.15483 7.04505 7.04505C9.15483 4.93526 12.0163 3.75 15 3.75C17.9837 3.75 20.8452 4.93526 22.955 7.04505C25.0647 9.15483 26.25 12.0163 26.25 15Z"
                    stroke="#BBBBBB"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Letterhead Design</span>
              </h5>
              <h5 class="text-disable">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 17.5L15 15L12.5 17.5ZM15 15L17.5 12.5L15 15ZM15 15L12.5 12.5L15 15ZM15 15L17.5 17.5L15 15ZM26.25 15C26.25 16.4774 25.959 17.9403 25.3936 19.3052C24.8283 20.6701 23.9996 21.9103 22.955 22.955C21.9103 23.9996 20.6701 24.8283 19.3052 25.3936C17.9403 25.959 16.4774 26.25 15 26.25C13.5226 26.25 12.0597 25.959 10.6948 25.3936C9.3299 24.8283 8.08971 23.9996 7.04505 22.955C6.00039 21.9103 5.17172 20.6701 4.60636 19.3052C4.04099 17.9403 3.75 16.4774 3.75 15C3.75 12.0163 4.93526 9.15483 7.04505 7.04505C9.15483 4.93526 12.0163 3.75 15 3.75C17.9837 3.75 20.8452 4.93526 22.955 7.04505C25.0647 9.15483 26.25 12.0163 26.25 15Z"
                    stroke="#BBBBBB"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Envelope Design</span>
              </h5>
              <div class="row justify-content-center">
                <a class="btn btn-order mt-4">
                  <h4 class="text-order">Order Now</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col mb-3"
          data-aos="zoom-out-right"
          data-aos-duration="1500"
        >
          <div class="card card-price">
            <div class="bg-price">
              <h4 class="text-price1">Basic</h4>
            </div>
            <div class="card-body card-body-price">
              <div class="row price-tag">
                <div class="col align-self-start text-right">
                  <span>Rp.</span>
                </div>
                <div class="col tag-number">4,0</div>
                <div class="col align-self-end"><span>Juta</span></div>
              </div>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">3 Logo Concept</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Unlimited Revision</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Design Copyright</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Master File</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">7 Days Process</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Namecard Design</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Banner Design</span>
              </h5>
              <h5 class="text-disable">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 17.5L15 15L12.5 17.5ZM15 15L17.5 12.5L15 15ZM15 15L12.5 12.5L15 15ZM15 15L17.5 17.5L15 15ZM26.25 15C26.25 16.4774 25.959 17.9403 25.3936 19.3052C24.8283 20.6701 23.9996 21.9103 22.955 22.955C21.9103 23.9996 20.6701 24.8283 19.3052 25.3936C17.9403 25.959 16.4774 26.25 15 26.25C13.5226 26.25 12.0597 25.959 10.6948 25.3936C9.3299 24.8283 8.08971 23.9996 7.04505 22.955C6.00039 21.9103 5.17172 20.6701 4.60636 19.3052C4.04099 17.9403 3.75 16.4774 3.75 15C3.75 12.0163 4.93526 9.15483 7.04505 7.04505C9.15483 4.93526 12.0163 3.75 15 3.75C17.9837 3.75 20.8452 4.93526 22.955 7.04505C25.0647 9.15483 26.25 12.0163 26.25 15Z"
                    stroke="#BBBBBB"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Letterhead Design</span>
              </h5>
              <h5 class="text-disable">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 17.5L15 15L12.5 17.5ZM15 15L17.5 12.5L15 15ZM15 15L12.5 12.5L15 15ZM15 15L17.5 17.5L15 15ZM26.25 15C26.25 16.4774 25.959 17.9403 25.3936 19.3052C24.8283 20.6701 23.9996 21.9103 22.955 22.955C21.9103 23.9996 20.6701 24.8283 19.3052 25.3936C17.9403 25.959 16.4774 26.25 15 26.25C13.5226 26.25 12.0597 25.959 10.6948 25.3936C9.3299 24.8283 8.08971 23.9996 7.04505 22.955C6.00039 21.9103 5.17172 20.6701 4.60636 19.3052C4.04099 17.9403 3.75 16.4774 3.75 15C3.75 12.0163 4.93526 9.15483 7.04505 7.04505C9.15483 4.93526 12.0163 3.75 15 3.75C17.9837 3.75 20.8452 4.93526 22.955 7.04505C25.0647 9.15483 26.25 12.0163 26.25 15Z"
                    stroke="#BBBBBB"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Envelope Design</span>
              </h5>
              <div class="row justify-content-center">
                <a class="btn btn-order mt-4">
                  <h4 class="text-order">Order Now</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col mb-3"
          data-aos="zoom-out-right"
          data-aos-duration="1500"
        >
          <div class="card card-price">
            <div class="bg-price">
              <h4 class="text-price1">Pro</h4>
            </div>
            <div class="card-body card-body-price">
              <div class="row price-tag">
                <div class="col align-self-start text-right">
                  <span>Rp.</span>
                </div>
                <div class="col tag-number">7,0</div>
                <div class="col align-self-end"><span>Juta</span></div>
              </div>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">5 Logo Concept</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Unlimited Revision</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Design Copyright</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Master File</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">7 Days Process</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Namecard Design</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Banner Design</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Letterhead Design</span>
              </h5>
              <h5>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="12"
                    r="11"
                    fill="white"
                    stroke="#333333"
                    stroke-width="2"
                  />
                  <path
                    d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="text-item-price">Free Envelope Design</span>
              </h5>
              <div class="row justify-content-center">
                <a class="btn btn-order mt-4">
                  <h4 class="text-order">Order Now</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
export default {
  name: "price",
  data: () => ({
    price: {
      centerMode: false,
      focusOnSelect: false,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      speed: 500,
      autoplay: true,
      dots: true,
      draggable: false,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          },
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            initialSlide: 2,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: false,
            focusOnSelect: false,
            pauseOnFocus: false,
            pauseOnHover: false,
            draggable: true,
            speed: 500,
          },
        },
        {
          breakpoint: 400,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: false,
            focusOnSelect: false,
            pauseOnFocus: false,
            pauseOnHover: false,
            draggable: true,
            speed: 500,
          },
        },
      ],
    },
  }),
  components: {
    VueSlickCarousel,
  },
};
</script>

