<template>
  <Layout>
    <Banner title="Culture" subtitle="Subtitle" imageContentSrc="culture/culture_banner.svg" />

    <!-- Main Section -->
    <Section 
      title="Our Values"
      subtitle="The values applied to our team"
    >
      <ImageBoxCarousel :content="sources" />
    </Section>

    <Section title="Our Smart Team">
      <OurTeam />
    </Section>

    <h1>Culture</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur rerum illum odit fugit assumenda rem dolores inventore iste reprehenderit maxime! Iusto.</p>
  </Layout>
</template>

<script>
import OurTeam from "../components/culture/OurTeam.vue";

export default {
  name: 'Culture',
  metaInfo: {
    title: 'Culture'
  },
  components: { OurTeam },
  data: () => ({
     sources: [
      {
        imgSrc: "culture/illust-focus-customer.svg",
        title: "Focus On Customer Obsessed",
        subtitle: "Focus on client needs and client success",
      },
      {
        imgSrc: "culture/illust-growth-mindset.svg",
        title: "Growth Mindset",
        subtitle: "A team that always thinks about growth",
      },
      {
        imgSrc: "culture/illust-speak-up.svg",
        title: "Speak Up",
        subtitle: "Communicate with each other between developers and customers",
      },
     ]
  })
}
</script>