<template>
  <Layout>
    <Banner
      title="Quality Design Service Solutions"
      subtitle="Only In 48 Hours"
      imageContentSrc="logo/hero_logo_img.svg"
    />

    <!-- Main Section -->
    <Section 
      title="Our Gallery"
      subtitle="Clients who have believed in our products"
    >
      <ImageBoxCarousel :content="imgGalleries" :md="1"/>
    </Section>

    <!-- 2nd Section, Why Us Carousel -->
    <Section
      title="Why Choose Us"
      subtitle="We are a professional and original logo creation service. We are a logo creation service provider that has focused on the field of logo design from the time we were founded."
    >
      <ImageBoxCarousel :content="sources" imgWidth="120px" />
    </Section>
    <!-- 3rd Section, Pricing Card Carousel -->
    <Section
      title="Pricing"
      subtitle="We offer affordable price and competitive quality"
    >
      <LogoPrice />
    </Section>

    <!-- 4th Section, Testimonial -->
    <Section
      title="Client Say About Us"
      subtitle="We offer affordable price and competitive quality"
    >
      <TestimonialCarousel />
    </Section>
  </Layout>
</template>

<script>
import LogoPrice from "../components/logo/LogoPrice.vue";

export default {
  name: "Logo",
  metaInfo: {
    title: "Logo & Identity",
  },
  components: {
    LogoPrice,
  },
  data: () => ({
    imgGalleries: [
      {
        imgSrc: "logo/img_placeholder.svg"
      },
      {
        imgSrc: "logo/img_placeholder.svg"
      },
      {
        imgSrc: "logo/img_placeholder.svg"
      }
    ],
    sources: [
      {
        imgSrc: "logo/icon_trusted.svg",
        title: "TRUST",
        subtitle: "With an efficient team work system and trying to give the best for our clients.",
      },
      {
        imgSrc: "logo/icon_hardisk.svg",
        title: "MASTER FILE",
        subtitle: "An editable master file is provided to make it easier for clients to print and repair files.",
      },
      {
        imgSrc: "logo/icon_consult.svg",
        title: "CONSULTATION",
        subtitle: "You are free to consult with our team so that our team understands your needs.",
      },
      {
        imgSrc: "logo/icon_guaranted.svg",
        title: "GUARANTEED",
        subtitle: "We guarantee customer satisfaction to maintain the quality of our services.",
      },
    ],
  }),
};
</script>