<template>
  <Layout>
    <Banner
      imageContentSrc="video/illustrasi_video_img.svg"
      title="Your Video Ready To Globalize"
      subtitle="Only In 48 Hours"
    />

    <!-- Main Section -->
    <Section title="Our Gallery" subtitle="Our Work That We Have Created">
      <GalleryVideo />
    </Section>

    <!-- 2th Section, Content/Value -->
    <Section
      title="Why Choose Us ?"
      subtitle="We apply four factors that are very concerned about from pre-production to post-production."
    >
      <ContentVideo />
    </Section>

    <Section
      title="Competitive Pricing"
      subtitle="he price we offer is very competitive, and in accordance with client needs"
    >
      <PricingVideo />
    </Section>

    <!-- 4th Section, Testimonial -->
    <Section
      title="Client Say About Us"
      subtitle="We offer affordable price and competitive quality"
    >
      <TestimonialCarousel />
    </Section>
  </Layout>
</template>

<script>
import GalleryVideo from "../components/video/GalleryVideo.vue";
import ContentVideo from "../components/video/ContentVideo.vue";
import PricingVideo from "../components/video/PricingVideo.vue";

export default {
  name: "Video",
  components: { GalleryVideo, ContentVideo, PricingVideo },
  metaInfo: {
    title: "Video Company Profile",
  },
};
</script>