<template>
  <Layout>
    <Banner
      title="Your Website Ready To Globalize"
      subtitle="Only In 48 Hours"
    />

    <!-- Main Section -->
    <Section
      title="Website Development Solution"
      subtitle="We listen and provide the best solutions for all your website needs. With affordable prices and competitive quality"
    >
      <img
        src="@/assets/images/website/webdev_laptop.svg"
        alt="White Laptop"
        class="img-solution"
      />
    </Section>

    <!-- 2nd Section, Carousel -->
    <Section
      title="The Services We Offer"
      subtitle="Our services include all website solution"
    >
      <ImageBoxCarousel :content="sources" />
    </Section>

    <!-- 4th Section, Step to make website -->
    <Section
      title="Simple Step to Make Website"
      subtitle="Easy steps to create a website to expand and promote your business."
    >
      <StepWebsite />
    </Section>

    <Section
      title="Client Say About Us"
      subtitle="We offer affordable price and competitive quality"
    >
      <TestimonialCarousel />
    </Section>
    <footer>Ini Untuk Footer</footer>
  </Layout>
</template>

<script>
import StepWebsite from "../components/website/StepWebsite.vue";

export default {
  name: "Website",
  data: () => ({
    sources: [
      {
        imgSrc: "website/illust-ecommerce-f.svg",
        title: "Ecommerce",
        subtitle: "Sell and promote your product on your own website",
      },
      {
        imgSrc: "website/illust-profile-f.svg",
        title: "Company Profile",
        subtitle: "Introduction about products, services using web technology",
      },
      {
        imgSrc: "website/illust-webapps-f.svg",
        title: "Web Apps",
        subtitle: "Application software that runs on a web server",
      },
    ],
  }),
  components: {
    StepWebsite,
  },
  meta: {
    title: "Website",
  },
};
</script>

<style lang="scss" scoped>
.img-solution {
  width: 100%;
  max-width: 1024px;
}
</style>