<template>
  <div id="myTopnav" class="topnav">
    <div class="container">
      <g-link to="/">
        <img
          class="logo"
          src="@/assets/images/unipics.svg"
          alt="Unipics Logo"
        />
      </g-link>

      <div class="float">
        <g-link to="/website">
          <h6 class="text-navbar">WEBSITE</h6>
        </g-link>
        <g-link to="/logo">
          <h6 class="text-navbar">LOGO & IDENTITY</h6>
        </g-link>
        <g-link to="/video">
          <h6 class="text-navbar">VIDEO COMPANY PROFILE</h6>
        </g-link>
        <g-link to="/culture">
          <h6 class="text-navbar">CULTURE</h6>
        </g-link>

        <a href="#" class="pt-2 pb-nav">
          <div class="btn btn-login">
            <h6 class="login">LOGIN</h6>
          </div>
        </a>
      </div>
      <div class="icon">
        <img class="menu" src="@/assets/images/menu_burger.svg" />
        <input v-on:click="toggleClick" type="checkbox" class="toggle" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  methods: {
    toggleClick: function (e) {
      const navMenu = document.querySelector(".topnav");
      navMenu.classList.toggle("show");
    }
  }
};
</script>

<style lang="scss" scoped>
a.active > h6 {
  color: $btn-active-color;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  padding-top: 25px;
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 9999;
  transition: ease-in-out 0.5s;

  @include breakpoint(desktop) {
    padding-top: 15px;
  }

  a {
    float: none;
    display: block;
    color: #065b91;
    text-align: left;
    padding: 8px 10px;
    text-decoration: none;
    font-family: "Lato", "Segoe UI", sans-serif;

    @include breakpoint(desktop) {
      float: left;
      display: block;
      text-align: center;

      padding: 14px 16px;
    }

    .active {
      color: $btn-active-color;
    }
  }

  .icon {
    @include breakpoint(mobile tablet) {
      float: right;
      display: block;
      position: absolute;
      right: 30px;
      top: 25px;
    }

    @include breakpoint(desktop) {
      display: none;
    }

    .menu {
      width: 28px;

      &:hover {
        scale: 1.015;
      }
    }

    input.toggle {
      position: absolute;
      width: 30px;
      height: 28px;
      left: 0px;
      opacity: 0;
    }
  }
}

.show {
  @include breakpoint(mobile tablet) {
    height: 300px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
  }
}

.text-navbar {
  color: #7277a1;
  padding-bottom: 10px;
  cursor: pointer;
  color: #065b91;
  font-weight: 700;
}

.shadow-header {
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
}

.float {
  float: none;
  @include breakpoint(desktop) {
    float: right;
  }
}

.text-navbar {
  color: #7277a1;
  padding-bottom: 10px;
  cursor: pointer;
  color: #065b91;
  font-weight: 700;

  &:hover {
    color: $btn-active-color;
  }

  @include breakpoint(mobile tablet) {
    padding-bottom: 0;
  }
}

.logo {
  width: 125px;
  margin-top: -10px;
  cursor: pointer;

  &:hover {
    border-bottom: 0px solid #7277a1;
    scale: 1.015;
  }
}

.btn {
  .login {
    color: #fff;
    padding-bottom: 10px;
  }

  &:hover {
    scale: 1.015;
  }

  @include breakpoint(mobile tablet) {
    margin-bottom: 20px;
  }
}

.btn-login {
  width: 100px;
  height: 32px;
  border-radius: 25px;
  background: linear-gradient(90deg, #f87097 0%, #fa9d99 100%);
}
</style>
