<template>
  <div>
    <div class="container mt-content desktop">
      <div class="row py-4">
        <div class="col-6 align-self-center">
          <h6 class="text-value-title">Attractive</h6>
          <h5 class="text-value-subtitle">Attractive Story Flow</h5>
          <p class="text-value-content">
            Attractive flow consisting of a general company profile with
            complete delivery, the advantages of facilities and products owned
            by implementing point of interest on the humanist and employee
            loyalist side.
          </p>
        </div>
        <div class="col-6">
          <img
            class="img-value"
            src="@/assets/images/video/attractive_illust.svg"
            alt="Attractive"
          />
        </div>
      </div>
      <div class="row py-4">
        <div class="col-6">
          <img
            class="img-value"
            src="@/assets/images/video/video_quality_illust.svg"
            alt="Video High Quality"
          />
        </div>
        <div class="col-6 align-self-center">
          <h6 class="text-value-title">Quality</h6>
          <h5 class="text-value-subtitle">
            Full High Definition &<br />
            Digital Broadcast
          </h5>
          <p class="text-value-content">
            By using technical tools with the latest technology, color details
            can be persistent and wide dynamic range. Supported with
            professional human resources who are proficient with cinematographic
            principles.
          </p>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-6 align-self-center">
          <h6 class="text-value-title">Sound Quality</h6>
          <h5 class="text-value-subtitle">
            High Definition Audio &<br />Original Music
          </h5>
          <p class="text-value-content">
            The use of original background music to support the promotional
            message conveyed. By using original music, videos can be distributed
            through any media.
          </p>
        </div>
        <div class="col-6">
          <img
            class="img-value"
            src="@/assets/images/video/sound_quality_illust.svg"
            alt="Best Quality Sound"
          />
        </div>
      </div>
      <div class="row py-4">
        <div class="col-6">
          <img
            class="img-value"
            src="@/assets/images/video/video_detail_illust.svg"
            alt="Detailed Video"
          />
        </div>
        <div class="col-6 align-self-center">
          <h6 class="text-value-title">Detail</h6>
          <h5 class="text-value-subtitle">Video Detail</h5>
          <p class="text-value-content">
            Detailed and natural colors in accordance with the actual situation
            and cinematic effects can be added according to the general
            description of the company that will be displayed.
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-content mobile text-center">
      <div class="row py-4">
        <div class="col-12 mb-4">
          <img
            class="img-value"
            src="@/assets/images/video/attractive_illust.svg"
            alt="Attractive"
          />
        </div>
        <div class="col-12 align-self-center">
          <h6 class="text-value-title">Attractive</h6>
          <h5 class="text-value-subtitle">Attractive Story Flow</h5>
          <p class="text-value-content">
            Attractive flow consisting of a general company profile with
            complete delivery, the advantages of facilities and products owned
            by implementing point of interest on the humanist and employee
            loyalist side.
          </p>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-12 mb-4">
          <img
            class="img-value"
            src="@/assets/images/video/video_quality_illust.svg"
            alt="Video High Quality"
          />
        </div>
        <div class="col-12 align-self-center">
          <h6 class="text-value-title">Quality</h6>
          <h5 class="text-value-subtitle">
            Full High Definition &<br />
            Digital Broadcast
          </h5>
          <p class="text-value-content align-self-center">
            By using technical tools with the latest technology, color details
            can be persistent and wide dynamic range. Supported with
            professional human resources who are proficient with cinematographic
            principles.
          </p>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-12 mb-4">
          <img
            class="img-value"
            src="@/assets/images/video/sound_quality_illust.svg"
            alt="Best Quality Sound"
          />
        </div>
        <div class="col-12 align-self-center">
          <h6 class="text-value-title">Sound Quality</h6>
          <h5 class="text-value-subtitle">
            High Definition Audio &<br />Original Music
          </h5>
          <p class="text-value-content">
            The use of original background music to support the promotional
            message conveyed. By using original music, videos can be distributed
            through any media.
          </p>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-12 mb-4">
          <img
            class="img-value"
            src="@/assets/images/video/video_detail_illust.svg"
            alt="Detailed Video"
          />
        </div>
        <div class="col-12 align-self-center">
          <h6 class="text-value-title">Detail</h6>
          <h5 class="text-value-subtitle">Video Detail</h5>
          <p class="text-value-content">
            Detailed and natural colors in accordance with the actual situation
            and cinematic effects can be added according to the general
            description of the company that will be displayed.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .desktop {
    display: none;

    @include breakpoint(tablet) {
      display: block;
    }
  }
  .mobile {
    display: block;

    @include breakpoint(tablet) {
      display: none;
    }
  }
</style>

<script>
export default {
  name: "ContentVideo",
  components: {}
};
</script>
