<template>
  <div class="mt-videobox" data-aos="fade-up" data-aos-duration="1500">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe
            class="h-video"
            src="https://www.youtube.com/embed/1tk1pqwrOys"
            frameborder="0"
            gesture="media"
            allow="autoplay; encrypted-media"
            allowfullscreen
            id="video1"
            ref="video1"
            @click="playVideo()"
          ></iframe>
        </div>
        <div class="carousel-item">
          <div id="video2">
            <iframe
              width="100%"
              class="h-video"
              src="https://www.youtube.com/embed/hP6VM6YAMIE"
              frameborder="0"
              gesture="media"
              allow="autoplay; encrypted-media"
              allowfullscreen
              ref="video2"
            ></iframe>
          </div>
        </div>
        <div class="carousel-item">
          <div id="video3">
            <iframe
              width="100%"
              class="h-video"
              src="https://www.youtube.com/embed/xThi1-1TQzE"
              frameborder="0"
              gesture="media"
              allow="autoplay; encrypted-media"
              allowfullscreen
              ref="video3"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="text-left1 mt-3">
        <h4 class="text-video" @click="pauseVideo()">
          <strong>Bagaimana Proses Pembuatan Video Kami?</strong>
        </h4>
        <h5 class="subtitle-section">
          Ada 3 langkah utama yang kami lakukan untuk pembuatan video animasi
          dari awal sampai akhir. Dan kami memberikan unlimited revision untuk
          tiap tahapan.
        </h5>
      </div>

      <div
        class="d-flex flex-column d-md-flex flex-md-row justify-content-between mt-3"
      >
        <div class="d-md-flex flex-md-row">
          <ol class="carousel-indicators">
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
            ></li>
          </ol>
        </div>
        <div
          class="d-md-flex flex-md-row mt-4 pt-2 mt-md-0 d-flex justify-content-center"
        >
          <a
            href="#carouselExampleIndicators"
            class="mx-md-4"
            data-bs-slide="prev"
            @click="prevVideoClicked()"
          >
            <img class="left" src="@/assets/images/video/left.svg" />
          </a>
          <a
            href="#carouselExampleIndicators"
            class=""
            data-bs-slide="next"
            @click="nextVideoClicked()"
          >
            <img class="right" src="@/assets/images/video/right.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
// text-left1
// text-video

.h-video {
  height: 240px;
  border-radius: 10px;
  width: 100%;

  @include breakpoint(tablet) {
    height: 360px;
  }

  @include breakpoint(desktop) {
    height: 480px;
  }

  @include breakpoint(desktop-lg) {
    height: 720px;
  }
}

ol.carousel-indicators {
  width: 100%;
  margin: 16px 0px 0px 0px;
  position: relative;

  li {
    background-color: #dde0e4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0px solid rgba(0, 0, 0, 0);

    &:hover {
      background-color: #5e9dc6;
    }

    &.active {
      background-color: $font-accent-primary;
      background-size: cover;
      height: 15px;
      border-radius: 25px;
      width: 35px;
      border: 0px solid rgba(0, 0, 0, 0);
    }
  }
}

.text-video {
  font-size: 18px;
  color: $font-primary;
}

.subtitle-section {
  font-size: 16px;
  color: $font-secondary;
}

.left,
.right {
  width: 100%;
  max-width: 36px;

  @include breakpoint(tablet) {
    max-width: 48px;
  }

  @include breakpoint(desktop) {
    max-width: 64px;
  }
}
</style>

<script>
export default {
  name: "GalleryVideo",
  data: () => ({
    play: true,
    videoPos: 0
  }),
  components: {},
  methods: {
    pauseVideo: function () {
      if (this.play == true) {
        this.play = false;
      } else {
        this.play = true;
      }
    },
    nextVideoClicked: function () {
      // // console.log(this.$refs);

      let size = Object.keys(this.$refs).length;
      if (this.videoPos == size) {
        this.videoPos = 0;
      }
      // console.log("Size : " + size);
      console.log(`Position Next : ${this.videoPos}`);

      let o = Object.values(this.$refs)[this.videoPos];
      let _tempSrc = o.getAttribute("src");

      setTimeout(() => {
        o.setAttribute("src", "#");
        o.setAttribute("src", _tempSrc);
      }, 750);

      this.videoPos++;
    },
    prevVideoClicked: function () {
      let size = Object.keys(this.$refs).length;

      console.log("Prev Position : " + this.videoPos);
      if (this.videoPos == size) {
        this.videoPos = size - 1;
      }
      console.log(`Position Prev : ${this.videoPos}`);

      let o = Object.values(this.$refs)[this.videoPos];
      let _tempSrc = o.getAttribute("src");

      setTimeout(() => {
        o.setAttribute("src", "#");
        o.setAttribute("src", _tempSrc);
      }, 750);

      if (this.videoPos == 0) {
        this.videoPos = size;
      }
      this.videoPos--;
    },
    playVideo: function () {}
  },
  mounted() {}
};
</script>

