<template>
 <div class="container mt-pricing">
    <div class="d-flex flex-row  justify-content-center">
      <div>
        <div class="d-none d-lg-block box-primary">
          <h3>Save Your</h3>
          <h2>Money.</h2>
          <p>Kelola video company profile Anda hanya dengan sedikit langkah dan dengan cara yang sangat mudah. </p>
          <p>Mulai dari 15 juta rupiah anda akan mendapatkan lorem ipusm dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet. </p>
        </div>
      </div>
      <div class="d-flex flex-column ">
        <div class="d-flex flex-column">
          <div class="title title-box">
              <div class="d-flex flex-column flex-md-row h-100 justify-content-between align-items-center px-4 pt-2">
                <h3>Start From</h3>
                <h3>Rp. 15.000.000</h3>
              </div>
          </div>
          <div class="title box-container">
            <div class="d-md-flex flex-md-column align-items-md-center px-4">
              <p class="d-none">Lorem ipsum dolor sit amet lorem ipusm dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
              <ul class="depending">
                <li><img src="@/assets/images/video/checklist_list.svg"/> Complexity of the concept</li>
                <li><img src="@/assets/images/video/checklist_list.svg" /> Shooting Location</li>
                <li><img src="@/assets/images/video/checklist_list.svg" /> Time required for productionz</li>
                <li><img src="@/assets/images/video/checklist_list.svg" /> Complexity of post production</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
      <div class="card pricing-box">
        <h4 class="card-header text-center">
          Start From
        </h4>
        <div class="card-body d-row-flex justify-content-center my-4">
          <h1 class="card-title text-center" style="font-weight: 700">
            Rp. 15.000.000
          </h1>
          <h5 class="card-text mx-4 mt-4  ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </h5>
          <div class="text-center">
            <div class="btn btn-contact">
              <a class="contact">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card pricing-box box-secondary mt-4">
        <h4 class="card-header text-center">
          Depending On
        </h4>
        <div class="card-body d-flex flex-column px-4 py-4">
          <h5 class="my-2">
            <svg
            class="mx-4"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="12"
                cy="12"
                r="11"
                fill="white"
                stroke="#333333"
                stroke-width="2"
              />
              <path
                d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="text-item-price">Complexity of the concept</span>
          </h5>
          <h5 class="my-2">
            <svg
              class="mx-4"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="12"
                cy="12"
                r="11"
                fill="white"
                stroke="#333333"
                stroke-width="2"
              />
              <path
                d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="text-item-price">Shooting location</span>
          </h5>
          <h5 class="my-2">
            <svg
              class="mx-4"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="12"
                cy="12"
                r="11"
                fill="white"
                stroke="#333333"
                stroke-width="2"
              />
              <path
                d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="text-item-price">Time required for production</span>
          </h5>
          <h5 class="my-2">
            <svg
            class="mx-4"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="12"
                cy="12"
                r="11"
                fill="white"
                stroke="#333333"
                stroke-width="2"
              />
              <path
                d="M7.9668 12.2332L10.5001 14.7665L16.8335 8.4332"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="text-item-price">Complexity of post production</span>
          </h5>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'PricingVideo'
}
</script>

<style lang="scss" scoped>
.box-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-primary {
    width: 300px;
    height: 590px;
    background: linear-gradient(167.13deg, #35AAF4 2.77%, #065B91 92.82%);
    
    border-radius: 20px;
  }

.title {
  max-width: 530px;
  border-radius: 20px;
}

.title-box {
  color: #FFF;
  width: 100%;
  height: 80px;
  background: linear-gradient(275deg, #065B91 -20%, #35AAF4 100%);
  border-radius: 20px 20px 0px 0px;
  /* transform: rotate(90deg); */
}

.depending {
  list-style: none;
  font-weight: 700;
  padding-left: 0px !important;
  margin: 24px 0;

  li {
    padding: 3px 0px;
  }
  

  img {

    width: 20px;
  }
}
</style>