<template>
  <div id="main">
    <Header />
    <slot/>
  </div>
</template>

<script>
import Header from '../components/Header.vue';

export default {
  name: 'Layout',
  components: {
    Header
  }
}
</script>

<style lang="scss" scoped>
 
</style>