<template>
  <div id="banner">
    <img
      class="background"
      v-bind:src="require(`@/assets/images/${backgroundSrc}`)"
      alt="background"
    />
    <div class="container banner">
      <div class="d-flex">
        <div class="flex-50">
          <h1 class="title-banner">{{ title }}</h1>
          <h3 class="subtitle-banner">{{ subtitle }}</h3>
        </div>
        <div class="flex-50">
          <img
            class="img-banner"
            v-bind:src="require(`@/assets/images/${imageContentSrc}`)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Banner",
  props: {
    backgroundSrc: {
      type: String,
      default: "bg1.png"
    },
    imageContentSrc: {
      type: String,
      default: "website/hero_img.svg"
    },
    title: {
      type: String,
      default: "Your Website Ready To Globalize"
    },
    subtitle: {
      type: String,
      default: "Only In 48 Hours"
    }
  }
};
</script>

<style lang="scss" scoped>
#banner {
  margin-top: 50px;

  @include breakpoint(dekstop) {
    margin-top: 100px;
  }
}

.background {
  width: 100%;
  height: 250px;

  @include breakpoint(tablet) {
    height: 300px;
  }
  @include breakpoint(desktop) {
    height: 500px;
  }

  @include breakpoint(desktop-lg) {
    height: 650px;
  }
}

.banner {
  margin-top: -200px;

  @include breakpoint(desktop) {
    margin-top: -400px;
  }
  @include breakpoint(desktop-lg) {
    margin-top: -500px;
  }
}

.flex-50 {
  flex: 50%;
}

.title-banner {
  font-size: 24px;
  font-weight: bold;

  @include breakpoint(desktop) {
    font-size: 48px;
  }

  @include breakpoint(desktop-lg) {
    font-size: 64px;
  }
}

.subtitle-banner {
  font-size: 18px;
  font-weight: 400;

  @include breakpoint(tablet) {
    font-size: 20px;
  }

  @include breakpoint(desktop) {
    font-size: 48px;
  }
}

.img-banner {
  float: right;
  width: 75%;
  margin-top: 0px;

  @include breakpoint(tablet) {
    width: 55%;
    margin-top: -60px;
  }

  @include breakpoint(desktop) {
    margin-top: -50px;
    width: 50%;
  }
}
</style>>