<template>
  <div class="container">
    <div class="row align-items-end d-flex justify-content-around">
      <VueSlickCarousel v-bind="services">
        <div
          v-for="(item, id) in content"
          :key="id"
          class="col-6 col-md-3 content-box"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              v-bind:src="require(`@/assets/images/${item.imgSrc}`)"
              :alt="item.imgSrc"
              :style="style"
            />
          </div>
          <div class="d-flex flex-column justify-content-center text-center">
            <h5 class="mt-4 fw-bold text-content align-self-center">
              {{ item.title }}
            </h5>
            <p class="text-content align-self-center">
              {{ item.subtitle }}
            </p>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import "vue-slick-carousel/dist/vue-slick-carousel.css";

export default {
  name: "ImageBoxCarousel",
  components: {
    VueSlickCarousel,
  },
  props: {
    imgWidth: {
      type: String,
      default() {
        return "null";
      },
    },
    content: {
      type: Array,
      default() {
        return [
          {
            imgSrc: "website/illust-ecommerce-f.svg",
            title: "Title",
            subtitle: "Subtitle",
          },
        ];
      },
    },
    sm: {
      type: Number,
      default: 1
    },
    md: {
      type: Number,
      default: 2
    },
    lg: {
      type: Number,
      default: 3
    }
  },
  computed: {
    style() {
      return `max-width: ${this.imgWidth ? this.imgWidth : ""}; 
      `;
    },
  },
  data: function () {
    return {
      services: {
        centerMode: false,
        focusOnSelect: false,
        infinite: true,
        slidesToShow: this.$props.content.length,
        slidesToScroll: 1,
        speed: 250,
        autoplay: true,
        dots: false,
        draggable: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: this.$props.lg,
              slidesToScroll: this.$props.lg,
              infinite: true,
              dots: true,
            },
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: this.$props.md,
              slidesToScroll: this.$props.md,
              initialSlide: 2,
              centerMode: true,
              focusOnSelect: true,
              draggable: true,
            },
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: this.$props.md,
              slidesToScroll: this.$props.md,
              centerMode: true,
              focusOnSelect: true,
              draggable: true,
            },
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: this.$props.sm,
              slidesToScroll: this.$props.sm,
              centerMode: false,
              focusOnSelect: true,
              draggable: true,
              pauseOnHover: false,
              speed: 500,
            },
          },
        ],
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.text-content {
  width: 100%;
  max-width: 200px;
}
</style>