<template>
  <section>
    <div class="d-flex flex-column align-items-center title">
      <h3>{{ title }}</h3>
      <h5>{{ subtitle }}</h5>
    </div>
    <div class="container">
      <slot></slot>
    </div>
  </section>
</template>

<script>
export default {
  name: "Section",
  props: {
    title: {
      type: String,
      default: "This is Title of Section"
    },
    subtitle: {
      type: String,
      default:
        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam! Excepturi fugit exercitationem incidunt minima ratione dicta commodi! Cupiditate."
    }
  }
};
</script>

<style lang="scss" scoped>
section {
  margin-top: 100px;
  padding: 0 16px;

  @include breakpoint(desktop-lg) {
    margin-top: 200px;
  }

  @include breakpoint(desktop) {
    margin-top: 250px;
    padding: 0 42px;
  }

  @include breakpoint(tablet) {
    padding: 0 24px;
  }

  @include breakpoint(mobile) {
    padding: 0 16px;
  }
}

.title {
  text-align: center;
  margin-bottom: 48px;

  h3 {
    color: $font_primary;
    font-size: 24px;
    font-weight: 700;

    @include breakpoint(desktop) {
      font-size: 28px;
    }
  }

  h5 {
    color: $font_secondary;
    font-size: 16px;
    font-weight: 400;

    @include breakpoint(desktop-lg) {
      font-size: 20px;
    }
  }
}
</style>