<template>
  <div>
    <div class="container">
      <div class="row mt-5">
        <VueSlickCarousel v-bind="clients" style="overflow: hidden">
          <div
            v-for="(item, id) in testimonial"
            :key="id"
            class="col mb-3 card-testimonial"
          >
            <div class="card h-100 mx-2 px-4">
              <div class="d-flex flex-column card-body">
                <div class="d-flex align-items-center mb-3">
                  <img
                    :src="require(`@/assets/images/${item.imgSrc}`)"
                    alt="Logo"
                    class="circle-img-profile"
                  />
                  <p class="card-title mx-2">
                    {{ item.title }}
                  </p>
                </div>
                <p class="card-text">
                  {{ item.subtitle }}
                </p>
                <h6 class="text-testi-name mt-auto">
                  <span class="text-bold">{{ item.name }}</span>
                  {{ item.position }}
                </h6>
              </div>
            </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import "vue-slick-carousel/dist/vue-slick-carousel.css";

export default {
  name: "TestimonialCarousel",
  data: () => {
    return {
      clients: {
        centerMode: false,
        focusOnSelect: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        speed: 500,
        autoplay: true,
        dots: true,
        draggable: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true,
            },
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              initialSlide: 2,
              centerMode: true,
              focusOnSelect: true,
              draggable: true,
            },
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              centerMode: true,
              focusOnSelect: true,
              draggable: true,
            },
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: false,
              focusOnSelect: true,
              draggable: true,
              pauseOnHover: false,
              speed: 500,
            },
          },
        ],
      },
    };
  },
  props: {
    testimonial: {
      type: Array,
      default() {
        return [
          {
            imgSrc: "logo.png",
            title: "Yogya Presisi Tehnikatama Industri",
            subtitle:
              "Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum",
            name: "Bayu Seno A",
            position: "Lorem ipsum si dolor",
          },
          {
            imgSrc: "logo.png",
            title: "Unipics Indonesia",
            subtitle:
              "Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum",
            name: "Bayu Seno A",
            position: "Lorem ipsum si dolor",
          },
          {
            imgSrc: "logo.png",
            title: "Lorem Ipsum Lorem Ipsum",
            subtitle: "Lorem Ipsum Lorem Ipsum Lorem IpsumLorem ",
            name: "Bayu Seno A",
            position: "Lorem ipsum si dolor",
          },
        ];
      },
    },
  },
  components: {
    VueSlickCarousel,
  },
  mounted: function () {
    // console.log(thi);
  },
};
</script>

<style lang="scss" scoped>
.text-bold {
  font-weight: 700;
}

.circle-img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.title-section {
  font-weight: bold;
}

.card-testimonial {
  min-height: 290px;
  height: 325px;
}

.text-testi-name {
}

@media (min-width: 1440px) {
  .card-testimonial {
    height: 225px;
  }
}
</style>
